.App {
  text-align: center;
  min-height: 100vh;
}


main {
  position: relative;
}

.content-wrapper {
  height: 100vh;
  overflow:hidden;
}

/* Tooltip */
.tooltip-wrapper {
  display: inline-block;
  position: absolute;

  &.tootip--top-left { 
    top:10px;
    left:20px;    
  } 

  &.tootip--top-right {
    top:10px;
    right:20px;
  } 

  &.tootip--middle-left { 
    top:45%;
    left:20px;    
  } 

  &.tootip--middle-right {
    top:45%;
    right:20px;
  } 

  &.tootip--bottom-left { 
    bottom:40px;
    left:20px;    
  } 

  &.tootip--bottom-right {
    bottom:40px;
    right:20px;
  } 

}



#tooltip-panel {
  min-width: 100px;
  position: absolute;
  padding:10px;
  background-color: #000;
  color:#fff;
  border-radius: 5px;

}

